* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* topnavbar */
.navbar-top{
    background-color: black;
    color: white;
    height: 35px;
}
.navtop-flex{
    margin: auto 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.ques {
    margin-top: 10px;
    font-size: 13px;
}

.ques ul {
    list-style-type: none;
}

.ques ul li {
    display:inline-block;
    margin-right: 15px;
}
.ques ul li a{
    text-decoration: none;
    color: white;
}
.ques ul li i{

}

.right{
    margin-top: 10px;
}
.right a{
    text-decoration: none;
    color: white;
}

/* header */
.header{
    background-image: url("../images/at-school-2-1524670.jpg");
    background-position:top;
    background-size: cover;
    background-repeat: no;
    height: 600px;
    padding: 10px;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 80px;     
}
.logo{
    width: 12%;
}
.logo img{
    width: 100%;
}
.nav ul{
    list-style-type: none;
}
.nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 14px; 
}
.content {
    margin: 150px 80px 0px 80px;
    text-transform: uppercase; 
}
.content a{
    color: white;
    text-decoration: none;  
    display: block; 
}
.content a h4{
    font-size: 20px;
    margin-bottom: 15px;
}
.content a h2{
    font-size: 55px;
    font-weight:700;
    line-height: 40px;
    letter-spacing:.5;
    margin-bottom: 15px;
}
button{
    background-color: yellow;
    border: yellow;
    border-radius: 5px;
    color: black;
    padding: 10px 20px;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
    
}
.group{
    display: flex;
    justify-content: space-between;
    background-color: rgba(26, 3, 3, 0.692);
    padding: 30px 25px;
    transition: 0.3s all;
    
}
.grp-icon{
    margin-top: 10px;
}
.grp-icon i{
    font-size: 55px;
    color: yellow;
    
}
.grp-content{
    color: white;
    width: 70%;
}
.grp-content h5{
    font-size: 20px;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 15px;
}
.grp-content a{
    text-decoration: none;
    color: white;
}
.group:hover{
    background-color: rgba(12, 5, 5, 0.815);

}






















