/* navbar-top */
@media (max-width:1025px){
    .navtop-flex{
        margin: 0;
    }
    .ques ul li span, a{
        display: none;
    }
    .right a{
        display: inline-block;
        margin-right: 10px;
    }
    
}

/* header */
@media (max-width:1025px){
    .header{
        height: 100vh;
    }
    .header-flex{
        margin: 0;
        /* margin-bottom: 400px; */
    }
    .header-flex .logo{
        width: 18%;   
    }
    .micon i{
        display: inline-block;
        color: white;
        font-size: 22px;
        margin-right: 15px;
    }
    .nav{
        display: none;
    }
    .content {
        margin-left: 0;
        /* margin-bottom: 450px; */
    }
    .banner{
        display: flex;
        justify-content: space-between;
    }
    .group{
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
    }
    .grp-content{
        width: 100%;
    }
    .grp-content a {
        display: block;
    }
    .grp-icon{
        margin-right: 20px;
    }
    .grp-icon i {
        font-size: 50px;
    }
}
@media (min-width:1025px){
    .micon i{
        display: none;
    }
}

@media (max-width:767px){
    .header-flex .logo{
        width: 40%;
        
    }
    .content a h4{
        line-height: 30px;
    }
    .content a h2{
        line-height: 40px;
    }
    .content {
        margin-left: 0;
        margin-bottom: 580px;
    }
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .group{
        margin-bottom: 15px;
        display: flex;
        justify-content: space-evenly;
    }
    .grp-content{
        width: 100%;
    }
}
@media (min-width:768px) and (max-width:1023px){
    .content {
        margin-left: 0;
        margin-bottom: 450px;
    }
}